{% import 'macro/accordion.html' as accordion %}

{{ accordion.header('Default images', 'image', 'admin', expanded=open_image, icon='image-line') }}
<p>
  If you do not see the following image, you either do not need them or you are coming from the original version of BrickTracker and/or they have been moved.
</p>
<div class="d-flex justify-content-center border-bottom pb-2 mb-2">
  <img class="table-img border mx-1" src="{{ nil_minifigure_url }}" alt="{{ nil_minifigure_name }}">
  <img class="table-img border mx-1" src="{{ nil_part_url }}" alt="{{ nil_part_name }}">
</div>
<p>
  <a href="{{ url_for('admin_image.update') }}" class="btn btn-primary" role="button"><i class="ri-download-line"></i> Update the images</a>
</p>
{{ accordion.footer() }}
