{% import 'macro/accordion.html' as accordion with context %}
{% import 'macro/badge.html' as badge %}
{% import 'macro/card.html' as card %}

<div class="card mb-3 flex-fill {% if solo %}card-solo{% endif %}">
  {{ card.header(item, item.fields.name, solo=solo, icon='archive-2-line') }}
  <div class="card-body border-bottom-0 {% if not solo %}p-1{% endif %}">
    {{ badge.total_sets(sets | length, solo=solo, last=last) }}
  </div>
  {% if solo %}
    <div class="accordion accordion-flush border-top" id="storage-details">
      {{ accordion.cards(sets, 'Sets', 'sets-stored', 'storage-details', 'set/card.html', expanded=true, icon='hashtag') }}
    </div>
    <div class="card-footer"></div>
  {% endif %}
</div>
