.card-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img img {
    max-height: 150px;
    height: 100%;
    width: 100%;
    object-fit:contain;
    -webkit-backdrop-filter: blur(8px) contrast(60%);
    backdrop-filter: blur(8px) contrast(60%);
}

.card-img img.card-last-img {
    max-height: 100px;
}

.card-check {
    font-size: 12px;
}

.card-solo > .card-img img {
    max-height:300px !important;
}

.card-solo > .card-img img.card-medium-img {
    max-height:200px !important;
}

.card-solo .card-check {
    font-size: inherit !important;
}

.accordion-img {
    max-height: 50px;
    max-width: 50px;
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.table-img {
    height: 75px;
    width: 75px;
    object-fit:contain;
}

.table-td-input {
    max-width: 150px;
}

/* Fixes for sortable.js */
.sortable {
    --th-color: #000 !important;
    --th-bg:#fff !important;
}

.sortable thead th {
    font-weight: bold !important;
}

.color-rgb {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.color-rgb-table {
    width: 20px !important;
    height: 20px !important;
}

.color-any {
    background:
        linear-gradient(217deg, rgb(255 0 0 / 80%), rgb(255 0 0 / 0%) 70.71%),
        linear-gradient(127deg, rgb(0 255 0 / 80%), rgb(0 255 0 / 0%) 70.71%),
        linear-gradient(336deg, rgb(0 0 255 / 80%), rgb(0 0 255 / 0%) 70.71%)
    ;
}